@import './colors.scss';

.mantine-AppShell-body{
    background-color: $secondColor;
}

@media (max-width: 1200px) and (min-width: 768px) {
    .mantine-Navbar-root {
        width: 200px;
        & > div{
            width: 200px;
        }
    }
}

@media (max-width: 767px) {
    .mantine-Navbar-root{
        width: 100vw;
    }
    .mantine-AppShell-body, .mantine-Footer-root{
        width: 100vw;
    }
}

header.mantine-Header-root{
    background-color: $mainColor;
    .logo{
        margin: auto;
        height: 68px;
    }
    @media (max-width: 767px) {
        .logo{
            height: 28px;
        }
    }
}

nav.mantine-Navbar-root {
    background-color: $secondColor;
    padding: 0;
}

footer.mantine-Footer-root{
    background-color: $mainColor;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mantine-Navbar-root{
    height: calc(100vh - var(--mantine-header-height, 0px) - var(--mantine-footer-height, 0px));
}
